.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/* .profile-info>h4,
p {
    margin: 0;
    padding: 0;
} */