.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.profile img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.name {
    margin: 0;
    font-weight: bold;
}