.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width:992px) {
    .exercise-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .workout-container {
        margin: 100px 2%;
    }
}

@media (max-width:760px) {
    .exercise-container {
        grid-template-columns: 1fr;

    }

    .workout-container {
        margin: 50px 5px;
    }
}