.workout-container {
    margin-top: 50px;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width:1000px) {
    .exercise-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:760px) {
    .exercise-container {
        grid-template-columns: 1fr;
    }
}